/*--           MENU MODS BY MARK JOSEPH RIVERA - October, 2012               --*/
/*-----------------------------------------------------------------------------*/

// DEFAULT MENU NAVIGATION
@mnWidth				: 980px;
@mnHeight				: 50px;

@mnSubBG				: fade(@black, 50%);
@mnSubColor				: @white;
@mnSubHover				: fade(@black, 75%);
@mnSubColorHover		: @white;
@mnParent				: 180px;

@mnX1					: 100px;
  @mnX1Gutter			: 0;
  @mnX1Left				: @mnX1Gutter;
  @mnX1Position			: @mnX1Left;

@mnX2					: 100px;
	@mnX2Gutter			: 0;
	@mnX2Left			: @mnX1 + @mnX1Position + @mnX2Gutter;
	@mnX2Position		: @mnX2Left;

@mnX3					: 100px;
	@mnX3Gutter			: 0;
	@mnX3Left			: @mnX2 + @mnX2Position + @mnX3Gutter;
	@mnX3Position		: @mnX3Left;

@mnX4					: 100px;
	@mnX4Gutter			: 0;
	@mnX4Left			: @mnX3 + @mnX3Position + @mnX4Gutter;
	@mnX4Position		: @mnX4Left;

@mnX5					: 100px;
	@mnX5Gutter			: 0;
	@mnX5Left			: @mnX4 + @mnX4Position + @mnX5Gutter;
	@mnX5Position		: @mnX5Left;


nav[menunav] { .absolute(); top: 0; right: -40px; background: url("../images/mn/menunav.jpg") no-repeat; width: @mnWidth; height: @mnHeight; margin: 0;
	ul { position: absolute; top: 0; list-style: none; min-height: @mnHeight; margin: 0;
		a, span { display: block; cursor: pointer; height: @mnHeight;
			&:hover, &.on { background-image: url("../images/mn/menunav.jpg"); }
		}
		ul { position: absolute; top: @mnHeight; left: 0; display: none; }
	}
	li { 
		&:hover ul { display: block; width: auto; margin: 0; padding: 0; 
			li:hover { position: relative; }
			li a { 
				display: block; 
				background: @mnSubBG; 
				font: 11px sans-serif; 
				color: @mnSubColor; 
				text-transform: uppercase; 
				height: auto; 
				padding: 10px; 
				border: solid transparent; border-width: 0 0 1px 0; 
			
				*min-height: 15px; _height: 15px;
				
				&:hover { background: @mnSubHover; color: @mnSubColorHover; }
			}
		}
		span { cursor: pointer; text-indent: -999em; }
	}
	
	.parent li { width: @mnParent; 
		.child { position: relative; top: 0; display: block; width: auto; height: auto;
			li { text-indent: 15px; }
			 a { font-size: 10px; font-weight: 100; padding: 5px; } 
		}
	}
	
	.mn1, .mn1 span { left: @mnX1Left; width: @mnX1;
		&:hover, &.on { background-position: -@mnX1Position -@mnHeight; }
	}
	.mn2, .mn2 a { left: @mnX2Left; width: @mnX2;
		&:hover, &.on { background-position: -@mnX2Position -@mnHeight; }
	}
	.mn3, .mn3 a { left: @mnX3Left; width: @mnX3;
		&:hover, &.on { background-position: -@mnX3Position -@mnHeight; }
	}
	.mn4, .mn4 a { left: @mnX4Left; width: @mnX4;
		&:hover, &.on { background-position: -@mnX4Position -@mnHeight; }
	}
	.mn5, .mn5 a { left: @mnX5Left; width: @mnX5;
		&:hover, &.on { background-position: -@mnX5Position -@mnHeight; }
	}
}


